* {
    box-sizing     : border-box;
    text-decoration: none;
    list-style     : none;
}

.header {
    height          : 100%;
    background-color: #536dfe;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0.375rem 1.25rem;
}

.nav__container-logo {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.logo__yavirac {
    width       : 6.875rem;
    height      : 3.75rem;
    margin-right: 1.25rem;
    object-fit  : cover;
    filter      : brightness(0) invert(1);
}

.nav__container {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

.nav__container-links {
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 1.25rem;
}

.nav__container-links-list {
    margin-top     : 0.625rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.nav__container-links-list-item-link {
    text-decoration: none;
    color          : #fff;
}

.nav__container-links-list-item {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    color          : #fff;
}

small {
    font-size: 0.625rem;
    color    : #ffffffa2;
}

.nav__container-perfil-img {
    width          : 2.8125rem;
    /* 45px */
    height         : 2.8125rem;
    /* 45px */
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 50%;
    object-fit     : cover;
}

.aside {
    background-color: #536dfe;
    padding         : 1.25rem;
    width           : 13.75rem;
    /* 220px */
    height          : 100vh;
}

.aside__header {
    text-align   : center;
    margin-bottom: 3.125rem;
    /* 50px */
}

.aside__title {
    color    : #fafafa;
    font-size: 1.5rem;
    /* 24px */
}

.aside__section {
    gap            : 0.625rem;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.aside__section-title {
    width           : 100%;
    display         : inline-block;
    text-decoration : none;
    padding         : 0.625rem 1.25rem;
    /* 10px 20px */
    border-radius   : 0.375rem;
    /* 6px */
    text-align      : start;
    color           : #000;
    font-size       : 1.125rem;
    /* 18px */
    background-color: #fff;
}

.aside__section-title:hover {
    background-color: #FF9800;
    color           : #fff;
}

.aside__section-title i {
    margin-right: 0.5rem;
    /* 8px */
}

.aside__section-title .text {
    vertical-align: middle;
}