* {
    box-sizing     : border-box;
    text-decoration: none;
    list-style     : none;
}


.opciones {
    margin-top: 20px;
}

.seleccionar {
    margin-right: 100px;
}

.btn-purple {
    background-color: rgb(219, 51, 219);
    color           : rgb(8, 7, 7);
}

.btn-green {
    background-color: rgb(104, 233, 104);
    color           : rgb(7, 6, 6);

}

.btn-yellow {
    background-color: rgb(255, 255, 0);
    color           : rgb(5, 4, 4);
}

.btn-orange {
    background-color: rgb(241, 190, 78);
    color           : rgb(5, 4, 4);
}

.titulo_tabla {
    color: rgb(187, 193, 199);
}


/* header y sidebar */
a.aside__section-title.publicacion {
    font-size: 16px;
}




/* SIDEBAR  Inicio*/

/*Cambia el color de sidebar*/
#sidebar {
    position       : fixed;
    top            : 0;
    left           : 0;
    width          : 280px;
    height         : 100%;
    background     : #536dfe;
    z-index        : 2000;
    font-family    : var(--lato);
    transition     : .3s ease;
    overflow-x     : hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

/*Cambia el color del background del logo institucional*/
#sidebar .brand {
    font-size     : 24px;
    font-weight   : 700;
    height        : 56px;
    display       : flex;
    align-items   : center;
    color         : white;
    position      : sticky;
    top           : 0;
    left          : 0;
    background    : #536dfe;
    z-index       : 500;
    padding-bottom: 20px;
    box-sizing    : content-box;
}

#sidebar .brand .bx {
    min-width      : 60px;
    display        : flex;
    justify-content: center;
}

#sidebar .side-menu {
    width     : 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height       : 48px;
    background   : transparent;
    margin-left  : 6px;
    border-radius: 48px 0 0 48px;
    padding      : 4px;
}

#sidebar .side-menu li.active {
    background: white;
    position  : relative;
}

#sidebar .side-menu li.active::before {
    content      : '';
    position     : absolute;
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    top          : -40px;
    right        : 0;
    box-shadow   : 20px 20px 0 white;
    z-index      : -1;
}

#sidebar .side-menu li.active::after {
    content      : '';
    position     : absolute;
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    bottom       : -40px;
    right        : 0;
    box-shadow   : 20px -20px 0 white;
    z-index      : -1;
}

#sidebar .side-menu li a {
    width        : 100%;
    height       : 100%;
    background   : var(--light);
    display      : flex;
    align-items  : center;
    border-radius: 48px;
    font-size    : 16px;
    color        : var(--dark);
    white-space  : nowrap;
    overflow-x   : hidden;
}

#sidebar .side-menu.top li.active a {
    color: var(--blue);
}

#sidebar .side-menu.top li a:hover {
    background : orange;
    font-weight: bold;
}

#sidebar.hide .side-menu li a {
    width     : calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--blue);
}

#sidebar .side-menu li a .bx {
    min-width      : calc(60px - ((4px + 6px) * 2));
    display        : flex;
    justify-content: center;
}

/* SIDEBAR Fin */


/* CONTENIDO */
#content {
    position  : relative;
    width     : calc(100% - 280px);
    left      : 280px;
    transition: .3s ease;
}

#sidebar.hide~#content {
    width: calc(100% - 60px);
    left : 60px;
}



/* NAVBAR */
#content nav {
    height     : 56px;
    background : #536dfe;
    padding    : 0 24px;
    display    : flex;
    align-items: center;
    grid-gap   : 24px;
    font-family: var(--lato);
    position   : sticky;
    top        : 0;
    left       : 0;
    z-index    : 1000;
}

/*Cambia el color del header*/
#content nav::before {
    content   : '';
    position  : absolute;
    width     : 40px;
    height    : 40px;
    bottom    : -40px;
    left      : 0;

}

#content nav a {
    color: white;
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color : white;
}

#content nav .nav-link {
    font-size : 16px;
    transition: .3s ease;
}

#content nav .nav-link:hover {
    color: var(--blue);
}

#content nav form {
    max-width   : 400px;
    width       : 100%;
    margin-right: auto;
}

#content nav form .form-input {
    display    : flex;
    align-items: center;
    height     : 36px;
}

#content nav form .form-input input {
    flex-grow    : 1;
    padding      : 0 16px;
    height       : 100%;
    border       : none;
    background   : var(--grey);
    border-radius: 36px 0 0 36px;
    outline      : none;
    width        : 100%;
    color        : var(--dark);
}


/*Cambia el boton de buscar*/
#content nav form .form-input button {
    width          : 36px;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : var(--blue);
    color          : var(--light);
    font-size      : 18px;
    border         : none;
    outline        : none;
    border-radius  : 0 36px 36px 0;
    cursor         : pointer;
}

#content nav .notification {
    font-size: 20px;
    position : relative;
}

#content nav .notification .num {
    position       : absolute;
    top            : -6px;
    right          : -6px;
    width          : 20px;
    height         : 20px;
    border-radius  : 50%;
    border         : 2px solid var(--light);
    background     : var(--red);
    color          : var(--light);
    font-weight    : 700;
    font-size      : 12px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

#content nav .profile img {
    width        : 36px;
    height       : 36px;
    object-fit   : cover;
    border-radius: 50%;
}

.data__profile {
    display        : flex;
    flex-direction : column;
    align-items    : flex-end;
    justify-content: center;
}

/* NAVBAR */

ol,
ul {
    padding-left: 1px;
}

.bi-trash {
    color: rgb(255, 255, 255);
}

.bi-pencil {
    color: rgb(255, 255, 255);
}

.bi-eye {
    color: rgb(255, 255, 255);
}
